@page
@model OdeToFood.Pages.Restaurants.ClientRestaurantModel
@{
    ViewData["Title"] = "ClientRestaurants";
}


<h2>Client Restaurants</h2>

<table id="restaurants">

</table>

@section Scripts {
    <environment include="Development">
        <script src="~/node_modules/datatables.net/js/jquery.dataTables.js"></script>
        <script src="~/node_modules/datatables.net-bs4/js/dataTables.bootstrap4.js"></script>

        <link href="~/node_modules/datatables.net-bs4/css/dataTables.bootstrap4.css" />
    </environment>

    <script>
        $(function(){
            $.ajax("/api/restaurants/",
                    {method: "get"})
              .then(function(response) {

                  $("#restaurants").dataTable({
                      data: response,
                      columns: [
                          { "data": "name" },
                          { "data": "location" },
                          { "data": "cusine" }
                      ]
                  });

               });
        });
    </script>
}